body{
    background-image: url("quiz-3.jpg") ;
    height:100%;
    background-size: cover;
    background-repeat:no-repeat ;
    
    
    background-position-x: center;
}
.container{
    margin-top: -550px;
    margin-left: 300px;
}
.med_class{
    margin-left: 250px;
    padding: -30px;
    margin-top: -0%;
    margin-top: 200px;
}
input{
    width: 300px;
    height: 40px;
    
}
#next{
    margin-left: 600px;
  height: 40px;
    width: 6%;
    margin-top: -100px;
    background-color: lightblue;
}
.box{
    margin-left: 1100px;
    width:130px;
    height: 100px;
    margin-top:-200 ;
}

.img11{
    margin-top: 250px;
    margin-left: 50px;
    margin-right: 5px;
    
  }
  .img12{
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 10px;
    
  }
  .img13{
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 10px;
    
  }
  .img14{
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 10px;
    
  }
  .img15{
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 10px;
    
  }
  .img16{
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 10px;
    
  }
 
   #checkbox{
     height: 30px;
     margin-left: 30px;
     
   }
    .previous1{
    margin-left: -400px;
  height: 40px;
    width: 6%;
    margin-bottom: -100px;
    margin-bottom: -600px;
    background-color: lightblue;
} 
.page{
  margin-left: 1000px;
  width:230px;
  height: 200px;
  margin-top:-500 ;
}